<div class="my-portfolio-container">
    <%= image_tag @portfolio.thumb_image, id:'trigger1', class:"card-image"%>
    <div class="my-portfolio-date">
        <%= @portfolio.created_at.strftime("%b %d")%>
    </div>

    <div class="my-portfolio-title portfolio-reveal">
        <%= @portfolio.name %>
    </div>
    
    <hr class="horizontal-line-20 portfolio-reveal">

    <div class="my-portfolio-categories portfolio-reveal">
        <% if @portfolio.categories %>
            <% @portfolio.categories.each do |category| %>
                <div>
                    <%= category.name %>
                </div>
            <% end %>
        <% end %>
    </div>

    <div class="my-portfolio-main">
        <div class="my-portfolio-description portfolio-reveal">
            <%= @portfolio.description %>
            <% if @portfolio.images.length > 0 %>
                <% @portfolio.images.each do |image| %>
                    <div class="portfolio-image">
                        <%= image_tag image %>
                    </div>
                    <hr class="image-line">  
                <% end %>
            <% end %>
        </div>

        <div class="my-portfolio-profile">
            <%= image_tag 'side_bar/joungwoobaik', size:150, class: "sidebar-profile-img"%>
            <div class="my-portfolio-profile-name">
                <a href="https://github.com/woobaik" target="_blank">Joungwoo Baik</a>
            </div>
            <div class="my-portfolio-profile-description">
                Born and raised in Seoul, South Korea. </br>
                Educated in San Francisco, California. </br>
                SF bay area based Software Developer.  </br>
            </div>

            <div class="my-portfolio-websites">
                <a href="https://www.github.com/woobaik" target="_blank" data-tooltip="My Github Page! Take a look at my work" data-position="bottom right" data-inverted=""><i class="github square icon"></i></a>
                <a href="https://www.linkedin.com/in/baik/" target="_blank" data-tooltip="Click for my LinkedIn Page!" data-position="bottom right" data-inverted=""><i class="linkedin icon"></i></a>
            </div>
        </div>
        
    </div>
</div>