<div class="my-portfolio-container">
    <img class="card-image" src="https://static1.squarespace.com/static/55491642e4b0cb0b033d590e/554a5a01e4b034d1a11ed440/554a607fe4b02adda69fe13d/1455902099459/?format=1000w"/>
    <div class="my-portfolio-date">
        <%= @portfolio.created_at.strftime("%b %d")%>
    </div>

    <div class="my-portfolio-title">
        <%= @portfolio.name %>
    </div>
    
    <hr class="horizontal-line-20">

    <div class="my-portfolio-categories">
        <% if @portfolio.categories %>
            <% @portfolio.categories.each do |category| %>
                <div>
                    <%= category.name %>
                </div>
            <% end %>
        <% end %>
    </div>

    <div class="my-portfolio-main">
        <div class="my-portfolio-description">
            <%= @portfolio.description %>
            <% if @portfolio.images.length != 0 %>
                <%= @portfolio.images.length%>
            <% end %>
        </div>

        <div class="my-portfolio-profile">
            <%= image_tag 'side_bar/joungwoobaik', size:150, class: "sidebar-profile-img"%>
            <div class="my-portfolio-profile-name">
                <a href="https://github.com/woobaik" target="_blank">Joungwoo Baik</a>
            </div>
            <div class="my-portfolio-profile-description">
                Born and raised in Seoul, South Korea. </br>
                Educated in San Francisco, California. </br>
                SF bay area based Software Developer.  </br>
            </div>

            <div class="my-portfolio-websites">
                <a href="https://www.github.com/woobaik" target="_blank" data-tooltip="My Github Page! Take a look at my work" data-position="bottom right" data-inverted=""><i class="github square icon"></i></a>
                <a href="https://www.linkedin.com/in/baik/" target="_blank" data-tooltip="Click for my LinkedIn Page!" data-position="bottom right" data-inverted=""><i class="linkedin icon"></i></a>
            </div>
        </div>
        
    </div>
</div>