  <div class="ui left vertical menu sidebar ">
    <a class="item sidebar-item">
        <%= image_tag 'side_bar/joungwoobaik', size:150, class: "sidebar-profie-img"%>
        <div>Joungwoo Baik</div>
        <div>415-766-1431</div>
    </a>
    <a class="item sidebar-item">
        <%= image_tag 'side_bar/rails_logo', size:150, class: "sidebar-img"%>
        <div>Ruby on Rails</div>
    </a>
    <a class="item sidebar-item">
        <%= image_tag 'side_bar/javascript_logo', size:30, class: "sidebar-img" %>
      <div>Javascript</div>
    </a>
    <a class="item sidebar-item">
        <%= image_tag 'side_bar/vuejs', size:80, class: "sidebar-img" %>
      <div>Vuejs</div>
    </a>
    <a class="item sidebar-item">
        <%= image_tag 'side_bar/github', size:80, class: "sidebar-img" %> 
        <div>gitHub</div>
    </a>
  </div>
