<!DOCTYPE html>
<html>
  <head>
    <title>Joungwoo Baik</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Coming+Soon&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Enriqueta|Quattrocento+Sans|Lato|Shrikhand&display=swap" rel="stylesheet">
    
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render 'layouts/header'%>
    <%= render 'layouts/sidebar'%>
    <div class="main-content">
      <div class="my-container">
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer'%>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.js"></script>
</html>
